
.sidebar {
	height: 100%;
	width: 280px;
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	background-color: rgb(255, 255, 255);
	overflow-x: hidden;
	padding: 20px 20px;
	box-shadow: 1px 0px 20px #cccccc;
	transition: ease 0.3s;

}

.logo {
	padding-bottom: 10px;
}
.logo-description {
	font-size: 13px;
	text-align: center;
	span{
		font-weight: 600;
	}
}
.logo-description::after{
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	margin-top: 15px;
	margin-bottom: 10px;
	background-color: #BDBDBD;
}
//--------------search--------------//
.search {
	width: 100%;
	position: relative;
}
.search input {
	border: none;
}
/* стили для поля ввода */
.search .input {
	width: 100%;
	padding: 15px 15px 15px 45px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.3);
	background: #EEE;
	color: #555;
	outline: none;
}

.search .input:focus {
	box-shadow: inset 0 0 5px rgba(0,0,0,0.2), inset 0 1px 2px rgba(0,0,0,0.4);
	background: #E8E8E8;
	color: #333;
}

.search .submit {
	position: absolute;
	top: 0;
	left: 0;

	width: 45px;

	/* растягиваем кнопку на всю высоту формы */
	height: 100%;

	cursor: pointer;
	background: url(../img/icons/icon-search.svg) 50% no-repeat;
	opacity: 0.5;
}

.search .submit:hover {
	opacity: 0.8;
}
/* необходимо для того, чтобы в браузерах
** Chrome и Safari можно было стилизовать инпуты */
input[type="search"] {
	-webkit-appearance: none;
}

//-----------------------
.sidebar a {
	color: #242424;
	display: flex;
	align-items: center;
	transition: ease 0.3s;
}

.sidebar a:hover {
	color: #A81428;
}
.sidebar__bottom{
	position: absolute;
	width: 240px;
	bottom: 30px;
	font-size: 16px;
	z-index: 12;
}
.sidebar__bottom-line{
	width: 100%;
	height: 1px;
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: #BDBDBD;
}
.user-block{
	display: flex;
	align-items: center;
}
.user-link{
	display: flex;
}
.user-link a{
	padding-left: 10px;
}

.nav {
	margin-top: 30px;
}

.nav__icon {
	padding-right: 5px;
}

.nav-link {
	padding: 6px 0px;
	width: 100%;
	transition: ease 0.3s;
	&:hover{
		padding-left: 3px;
	}
}

.social{
	display: flex;
	align-items: center;
	
}
.social-icons{
	padding-left: 5px;
}
.social-icons a{
	padding-left: 7px;
}

//---------------------top-line---------------------//
.container-topline{
	padding-left: 280px;
	padding-right: 40px;
	overflow: hidden;	
}

.header__burger{
	display: none;
}

.top-line {
	width: 100%;
	height: 60px;
	position: fixed;
	z-index: 1;
	padding-top: 40px;
	background-color: rgba(255, 255, 255, 0.6);
}

.top-line-menu{
	position: absolute;
	display: flex;
	flex: 1 0 auto;
	left: 40px;
	top: 23px;
}
.top-link a{
	padding-right: 20px;
	color: #242424;
	transition: ease 0.3s;
	&:hover{
		color: #A81428 ;
	}
}
.top-line__right{
	position: absolute;
	display: flex;
	align-items: center;
	top: 15px;
	right: 300px;
}
.top-line__right a{
	color: #242424;
	transition: ease 0.3s;
	&:hover{
		color: #A81428 ;
	}
}

.tel-button{
display: block;
padding-right: 30px;
padding-left: 10px;
width: 10px;
height: 10px;
background-image: url(img/icons/arrow-down.svg);

}
//==============media header==============//

@media (max-width: 1180px){

	//---------burger---------//
	.header__burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		position: relative;
		margin-left: 15px;
		margin-top: -20px;
		z-index: 3;
		cursor: pointer;
	}

	.header__burger span{
		position: absolute;
		background-color: #323232;
		position: absolute;
		left: 0;
		width: 100%;
		height: 2px;
		top: 9px;
		transition: all 0.3s ease 0s;
	}

	.header__burger:before,
	.header__burger:after{
		content: '';
		background-color: #323232;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before{
		top: 0;
	}
	.header__burger:after{
		bottom: 0;
	}

	.header__burger.active span{
		transform: scale(0);
	}

	.header__burger.active:before{
		transform:rotate(45deg);
		top: 9px;
	}
	.header__burger.active:after{
		transform:rotate(-45deg);
		bottom: 9px;
	}
	.header__burger.active{
		margin-left: 290px;
	}

	//----------end burger--------------//
	.container-topline{
		padding-left: 0px;
	}

	.sidebar{
		left: -100%;
	}
	.sidebar.active{
		left: 0px;
	}
	.logo, .logo-description, .searh, .nav, .sidebar__bottom{
		display: block;
	}

	.top-line-menu{
		left: 80px;		
	}

	.top-line__right{
		right: 20px;
	}
}

@media (max-width: 600px){
	.top-line-menu{
		display: none;	
	}
}



/*
	.header-menu__icon{
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width:30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span{@include anim(0.3s,0s);top: 8px;left: 0px;position: absolute;width: 100%;height: 2px;background-color: #000;
			&:first-child{top: 0px;}
			&:last-child{top: auto;bottom: 0px;}
		}
		&.active{
			span{@include scale(0);
				&:first-child{@include rotate(-45deg);top: 8px;}
				&:last-child{@include rotate(45deg);bottom: 8px;}
			}
		}
	}
*/